__pycache__
.env
env
*.db
.venv
.vscode
.direnv
.envrc
.pytest_cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

shell.nix
buildspec.yml

