fastapi
httpx
neo4j
pydantic-settings
pytest
pytest-cov
uvicorn
sqlalchemy
passlib
boto3
psycopg2-binary==2.9.9
bcrypt
openai
chevron
alembic
python-multipart
python-jose[cryptography]
#regopy
requests
python-statemachine[diagrams]
pydot
zep-python==1.5.0
pyotp
cohere
tiktoken
langchain_community
langchain
langchain_openai
json-repair
langchain-core
langchain-experimental
tqdm
pandas
# networkx # for in memory graph
langchain-qdrant
